body {
    background: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
}

header {
    background-color: rgb(39, 162, 184);
    width: 100%;
    text-align: center;
    font-size: 250%;
    margin-bottom: -4vh;
}

.menu ul {
    display: flex;
    background-color: rgb(129, 197, 209);
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menu ul li {
    flex: auto;
    border: 1px solid black;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    height: 73%;
    overflow-y: scroll;
}

.proyecto {
    background-color: rgba(235, 128, 14, 0.846);
    width: 25%;
    height: fit-content;
}

.proyecto img {
    width: 100%;
}

.proyecto h3 {
    text-align: center;
}

.proyecto p {
    margin-left: 2%;
}

.proyecto a {
    background-color: blanchedalmond;
    text-decoration: none;
    color: black;
}