body {
    background: rgb(255, 255, 255);
    margin: 0;
}

header {
    background-color: rgb(39, 162, 184);
    width: 100%;
    text-align: center;
    font-size: 250%;
}

.menu ul {
    display: flex;
    background-color: rgb(129, 197, 209);
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menu ul li {
    flex: auto;
    border: 1px solid black;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.cuerpo {
    margin-left: 1vw;
    margin-right: 1vw;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor div {
    border: 3px solid black;
    width: 100%;
}

.boton-creaciones {
    text-decoration: none;
    color: black;
    font-size: 150%;
    background-color: blanchedalmond;
}

.t-info {
    text-align: center;
}

.infocuadros {
    display: flex;
    justify-content: space-between;
}

.cnlund {
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 9, 9, 0.663);
    width: 15vw;
    height: 25vh;
}

.cnlund-info {
    position: relative;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.cnlund-img {
    height: 50%;
}

.cnlund-img img {
    position: relative;
    height: 150%;
}

.cnlund-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnlund-links a {
    padding-top: 55%;
}

.olecram {
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 9, 9, 0.663);
    width: 15vw;
    height: 25vh;
}

.olecram-info {
    position: relative;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.olecram-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.olecram-links a {
    padding-top: 55%;
}

.olecram {
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 9, 9, 0.663);
    width: 15vw;
    height: 25vh;
}

.pablo {
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 9, 9, 0.663);
    width: 15vw;
    height: 25vh;
}

.pablo-info {
    position: relative;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.pablo-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pablo-links a {
    padding-top: 55%;
}

footer {
    width: 100%;
    background-color: rgb(52, 116, 134);
    bottom: 0;
    left: 0;
    display: flex;
    max-height: 25vh;
}

.creditos {
    padding-left: 3vw;
}