body {
    background: rgb(255, 255, 255);
    background: linear-gradient(188deg, rgb(78, 159, 189) 0%, rgba(30, 30, 36, 1) 100%, rgb(255, 0, 0) 100%);
    margin: 0;
}

header {
    background-color: rgb(39, 162, 184);
    width: 100%;
    text-align: center;
    font-size: 250%;
}

.cuerpo {
    margin-left: 1vw;
    margin-right: 1vw;
}

.t-proyectos {
    text-align: center;
}

.blog {
    text-align: center;
}

.paginas-web {
    font-size: 200%;
}

.t-info{
    text-align: center;
}

.infocuadros{
    display: flex;
    justify-content: space-between;
}

.cnlund{
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 230, 230);
    width: 15vw;
    height: 25vh;
}

.cnlund-info{
    position: relative;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.cnlund-img {
    height: 50%;
}

.cnlund-img img {
    position: relative;
    height: 150%;
}

.cnlund-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cnlund-links a{
    padding-top: 55%;
}

footer {
    width: 100%;
    background-color: rgb(52, 116, 134);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    max-height: 25vh;
}

.creditos {
    padding-left: 3vw;
}