body {
    background: rgb(255, 255, 255);
    background: linear-gradient(188deg, rgb(94, 60, 114) 0%, rgba(30, 30, 36, 1) 100%, rgb(255, 0, 0) 100%);
    margin: 0;
}

header {
    background-color: rgb(114, 39, 184);
    width: 100%;
    text-align: center;
    font-size: 250%;
}

.cuerpo {
    margin-left: 1vw;
    margin-right: 1vw;
}

.t-proyectos {
    text-align: center;
}

.t-info{
    text-align: center;
}

.infocuadros{
    display: flex;
    justify-content: space-between;
}

.cnlund{
    background-color: rgba(253, 0, 0, 0.315);
}

footer {
    width: 100%;
    background-color: rgb(98, 68, 112);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    max-height: 25vh;
}

.creditos {
    padding-left: 3vw;
}